name: Build and Release

on:
  push:
    tags:
      - 'v*.*.*'
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18.x'
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Build Electron app
      run: npm run build
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Rename artifacts (Windows)
      if: matrix.os == 'windows-latest'
      run: |
        cd dist
        Get-ChildItem -Recurse -Include *.exe,*.zip | ForEach-Object { Move-Item $_ ".\fund-data-windows-$($env:GITHUB_SHA.Substring(0,7))$(Split-Path $_ -Leaf)" }
      shell: pwsh

    - name: Rename artifacts (macOS)
      if: matrix.os == 'macos-latest'
      run: |
        cd dist && find . -type f \( -name "*.dmg" -o -name "*.zip" \) -exec mv {} fund-data-macos-${GITHUB_SHA:0:7}{} \;

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.os }}-build
        path: dist/*
        retention-days: 30
        if-no-files-found: error

  release:
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    permissions:
      contents: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Download all artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts

    - name: Display structure of downloaded files
      run: ls -R artifacts

    - name: Extract version
      id: version
      run: echo "version=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        files: artifacts/**/*
        draft: false
        prerelease: false
        name: Release ${{ steps.version.outputs.version }}
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
